:root {
    --cor-branco: #fff;
    --cor-cincza: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url(assests/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;  
    grid-template-columns: 50% 50%;
}

.container__box {
    margin: 0 6em;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--cor-branco);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1em;
    display: block;
    text-decoration: none;
}

.botao__segundario {
    background-color: transparent;
    border: 2px solid var(--cor-branco);
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cor-cincza);
}

.segundario {
    align-items: center;
    margin: 0 10em;
}

.segundaria__imagem {
    width: 83%;
}

.container__descricao{
    padding: 2em;
}

.descricao__titulo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--cor-branco);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cor-cincza);
}

.segundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--cor-branco);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.lista__item {
    font-size: 2rem;
    color: var(--cor-branco);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

/* .rodape__logo {
    
} */

.rodape__lista {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    list-style-type: none;
}

.lista__link a {
    text-decoration: none;
    color: var(--cor-branco);
    margin-left: 1em;   
}

.rodape__texto {
    font-size: 0.87rem;
    color: var(--cor-cincza);
    margin: 1em 0;
}

.container__botao:hover {
    background-color: transparent;
    border: 2px solid var(--botao-azul);
    color: var(--botao-azul);

}

.botao__segundario:hover {
    border: 2px solid var(--botao-azul);
    color: var(--botao-azul);
}

.lista__link a:hover {
    color: var(--botao-azul)
}